h1 {
    color: #d22e3a;}
.line1 {
    background-color: #ffcccc;
    padding: 8px;
    margin: 5px 0;}
.line2 {
    background-color: #ccffcc;
    padding: 8px;
    margin: 5px 0;}
.line3 {
    background-color: #ccccff;
    padding: 8px;
    margin: 5px 0;}
.line4 {
    background-color: #ffffcc;
    padding: 8px;
    margin: 5px 0;}
.line5 {
    background-color: #ffccff;
    padding: 8px;
    margin: 5px 0;}